.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lead {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 90px;
}

.lead__title {
  width: 720px;
  margin: 0;

  font-family: "Inter", Arial, sans-serif;
  font-size: 96px;
  font-weight: 900;
  line-height: 100px;
  text-align: center;
  color: #ffffff;
}

.lead__subtitle {
  width: 720px;
  margin: 32px 0 64px;

  font-family: "Inter", Arial, sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
}

.lead__image {
  width: 100%;
  max-width: 984px;
  height: auto;
  display: block;
}

.intro {
  max-width: 830px;
  margin-top: 92px;
}

.intro__title {
  max-width: 830px;
  margin: 0;

  font-family: "Inter", Arial, sans-serif;
  font-size: 54px;
  font-weight: 900;
  line-height: 58px;
  color: #ffffff;
}

.intro__quote {
  max-width: 738px;
  margin: 40px 0 10px;

  font-family: "Inter", Arial, sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
  color: #ffffff;
}

.intro__author {
  max-width: 732px;
  margin: 0;
  text-align: right;

  font-family: "Inter", Arial, sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
  color: #ffffff;
}

.intro__text {
  max-width: 722px;
  margin-top: 32px;

  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 163%;
  color: #ffffff;
}

/* Tablet*/

@media screen and (max-width: 1024px) {
  .lead {
    margin-top: 60px;
  }

  .lead__title {
    width: calc(100% - 48px);
    font-size: 75px;
    line-height: 79px;
  }

  .lead__subtitle {
    width: calc(100% - 48px);
    margin: 20px 0 60px;
    font-size: 24px;
    line-height: 30px;
  }

  .lead__image {
    width: 100%;
  }

  .intro {
    width: calc(100% - 48px);
    margin-top: 90px;
  }

  .intro__title {
    font-size: 45px;
    line-height: 49px;
  }

  .intro__quote {
    margin-top: 40px;
  }
}

/* Mobile */

@media screen and (max-width: 544px) {
  .lead {
    margin-top: 48px;
  }

  .lead__title {
    width: 288px;
    font-size: 40px;
    line-height: 44px;
  }

  .lead__subtitle {
    width: 288px;
    margin: 16px 0 40px;
    font-size: 16px;
    line-height: 20px;
  }

  .lead__image {
    width: 100%;
  }

  .intro {
    width: calc(100% - 48px);
    margin-top: 48px;
  }

  .intro__title {
    font-size: 32px;
    line-height: 35px;
  }

  .intro__quote {
    margin-top: 32px;
    font-size: 16px;
    line-height: 24px;
  }

  .intro__author {
    font-size: 16px;
    line-height: 24px;
  }

  .intro__text {
    margin-top: 24px;
    font-size: 16px;
    line-height: 163%;
  }
}
